{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    <link href="{% static 'css/company.css' %}" rel="stylesheet" type="text/css">
    <div class="row-fluid small-padding-top">
        <div class="span8 offset2 white-card">
            <h1>
                {{company_name}}
            </h1>
            {% for tag in company_type_of_application%}
            <div class="stack-tag">
                {{tag}}
            </div>
            {% endfor %}

            <p class="light-text small-padding-top">
                {{company_description}}   
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 gray-card">
            <p class="light-text">
                Submitted by <b>Mark Zuckerberg</b>   
            </p>
        </div>
    </div>


    <div class="row-fluid small-padding-top">
        <div class="span8 offset2 white-card">
            <h4>
                Front End
            </h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Languages
            </h6>
            {% for tag in frontend_languages%}
            <div class="stack-tag very-small-margin-top">
                {{tag}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Frameworks
            </h6>
            {% for tag in frontend_framework%}
            <div class="stack-tag very-small-margin-top">
                {{tag}}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Libraries
            </h6>
            {% for tag in frontend_libraries%}
            <div class="stack-tag very-small-margin-top">
                {{tag}}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Why did we choose these?
            </h6>
            <div class="very-small-margin-top">
                {{frontend_description}}
            </div>
        </div>
    </div>

    <div class="row-fluid small-padding-top">
        <div class="span8 offset2 white-card">
            <h4>
                Back End
            </h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Languages
            </h6>
            {% for tag in backend_languages%}
            <div class="stack-tag very-small-margin-top">
                {{tag}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Frameworks
            </h6>
            {% for tag in backend_framework%}
            <div class="stack-tag very-small-margin-top">
                {{tag}}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Libraries
            </h6>
            {% for tag in backend_libraries%}
            <div class="stack-tag very-small-margin-top">
                {{tag}}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Why did we choose these?
            </h6>
            <div class="very-small-margin-top">
                {{backend_description}}
            </div>
        </div>
    </div>

    <div class="row-fluid small-padding-top">
        <div class="span8 offset2 white-card">
            <h4>
                Database
            </h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Databases
            </h6>
            {% for tag in database%}
            <div class="stack-tag very-small-margin-top">
                {{tag}}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Why did we choose these?
            </h6>
            <div class="very-small-margin-top">
                {{database_description}}
            </div>
        </div>
    </div>

    <div class="row-fluid small-padding-top">
        <div class="span8 offset2 white-card">
            <h4>
                Server Setup
            </h4>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                OS
            </h6>
            <div class="very-small-margin-top">
                {{server_os}}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                RAM
            </h6>
            <div class="very-small-margin-top">
                {{server_ram}}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Configuration
            </h6>
            <div class="very-small-margin-top">
                {{server_configuration}}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                #Nodes
            </h6>
            <div class="very-small-margin-top">
                {{server_nodes}}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Hosting Provider
            </h6>
            <div class="very-small-margin-top">
                {{server_hosting_provider}}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2 white-card">
            <h6 class="span3">
                Why did we choose these?
            </h6>
            <div class="very-small-margin-top">
                {{server_description}}
            </div>
        </div>
    </div>

    <!-- Disqus code here -->

    <div class="row-fluid small-padding-top">
        <div class="span8 offset2">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'techstack'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            
        </div>
    </div>

    

{% endblock %}