{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    <link href="{% static 'css/company.css' %}" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" >
	    $(document).ready(function(){
	        $("#id_email").css('width', '278px');
	        $("#id_first_name").css('width', '278px');
	        $("#id_last_name").css('width', '278px');
	    });
	</script>

    <form method="post" action="">
		{% csrf_token %} 
	    {{ form.non_field_errors }}

	    <div class="row-fluid small-padding-top">
	        <div class="span8 offset2 white-card">
	            <h4>
	                Company
	            </h4>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.company_name.label }}
	            </h6>
	            <div class="">
	                {{ form.company_name.errors }}
	        		{{ form.company_name }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.company_description.label }}
	            </h6>
	            <div class="">
	                {{ form.company_description.errors }}
	        		{{ form.company_description }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.company_type_of_application.label }}
	            </h6>
	            <div class="">
	                {{ form.company_type_of_application.errors }}
	        		{{ form.company_type_of_application }}
	            </div>
	        </div>
	    </div>



	    <div class="row-fluid small-padding-top">
	        <div class="span8 offset2 white-card">
	            <h4>
	                Front End
	            </h4>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.frontend_languages.label }}
	            </h6>
	            <div class="">
	                {{ form.frontend_languages.errors }}
	        		{{ form.frontend_languages }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.frontend_framework.label }}
	            </h6>
	            <div class="">
	                {{ form.frontend_framework.errors }}
	        		{{ form.frontend_framework }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.frontend_libraries.label }}
	            </h6>
	            <div class="">
	                {{ form.frontend_libraries.errors }}
	        		{{ form.frontend_libraries }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.frontend_description.label }}
	            </h6>
	            <div class="">
	            	{{ form.frontend_description.errors }}
	        		{{ form.frontend_description }}
	            </div>
	        </div>
	    </div>


	    <div class="row-fluid small-padding-top">
	        <div class="span8 offset2 white-card">
	            <h4>
	                Back End
	            </h4>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.backend_languages.label }}
	            </h6>
	            <div class="">
	                {{ form.backend_languages.errors }}
	        		{{ form.backend_languages }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.backend_framework.label }}
	            </h6>
	            <div class="">
	                {{ form.backend_framework.errors }}
	        		{{ form.backend_framework }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.backend_libraries.label }}
	            </h6>
	            <div class="">
	                {{ form.backend_libraries.errors }}
	        		{{ form.backend_libraries }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.backend_description.label }}
	            </h6>
	            <div class="">
	            	{{ form.backend_description.errors }}
	        		{{ form.backend_description }}
	            </div>
	        </div>
	    </div>


	   	<div class="row-fluid small-padding-top">
	        <div class="span8 offset2 white-card">
	            <h4>
	                Databases
	            </h4>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.database.label }}
	            </h6>
	            <div class="">
	                {{ form.database.errors }}
	        		{{ form.database }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.database_description.label }}
	            </h6>
	            <div class="">
	                {{ form.database_description.errors }}
	        		{{ form.database_description }}
	            </div>
	        </div>
	    </div>


	    <div class="row-fluid small-padding-top">
	        <div class="span8 offset2 white-card">
	            <h4>
	                Server
	            </h4>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.server_os.label }}
	            </h6>
	            <div class="">
	                {{ form.server_os.errors }}
	        		{{ form.server_os }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.server_configuration.label }}
	            </h6>
	            <div class="">
	                {{ form.server_configuration.errors }}
	        		{{ form.server_configuration }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.server_ram.label }}
	            </h6>
	            <div class="">
	                {{ form.server_ram.errors }}
	        		{{ form.server_ram }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.server_nodes.label }}
	            </h6>
	            <div class="">
	            	{{ form.server_nodes.errors }}
	        		{{ form.server_nodes }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.server_hosting_provider.label }}
	            </h6>
	            <div class="">
	            	{{ form.server_hosting_provider.errors }}
	        		{{ form.server_hosting_provider }}
	            </div>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	            <h6 class="span3">
	                {{ form.server_description.label }}
	            </h6>
	            <div class="">
	            	{{ form.server_description.errors }}
	        		{{ form.server_description }}
	            </div>
	        </div>
	    </div>

	    <div class="row-fluid">
	        <div class="span8 offset2 white-card fieldWrapper">
	        	<p><input type="submit" value="Submit your Stack!" class="btn btn-danger" /></p>
	        </div>
	    </div>

	    
	</form>




{% endblock %}