{% extends "base.html" %}
{% load i18n %}


{% block head %}

{% load compress %}
{% compress css %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/base.css" %}" media="screen" type="text/css">

{% endcompress %}

{% load compress %}
{% compress js %}

<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_position").attr('placeholder', 'Position');
        $("#id_email").attr('placeholder', 'Email');
        $("#id_first_name").attr('placeholder', 'First Name');
        $("#id_last_name").attr('placeholder', 'Last Name');
        $("#id_password1").attr('placeholder', 'Password');
        $("#id_password2").attr('placeholder', 'Confirm Password');
    });
</script>

{% endcompress %}

{% endblock %}

{% block content %}
   <div class="row-fluid small-padding-top">
    <div class="span8 offset2"></div>
          <div class="span8 offset2 white-card">
              <h1>
                  Hacker Registration
              </h1>
          </div>
    </div>
   

	<form id='signup-form' method="post" action=".">
	  {% csrf_token %}

      {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
	        <div class="alert alert-error" style="width:292px">
	            <button type="button" class="close" data-dismiss="alert">×</button>
	            {{ error  }}
	        </div>
            {% endfor %}
      {% endif %}

      <div class="row-fluid">
      <div class="fieldWrapper span8 offset2"></div>
      {% for field in form %}
            <div class="fieldWrapper span8 offset2">
                {% for error in field.errors %}
                    <div class="alert alert-error" style="width:292px">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ error|escape }}
                    </div>
                {% endfor %}
                {{ field }}
            </div>        
      {% endfor %}
      </div>
      <div class="row-fluid">
        <div class="span8 offset2"></div>
        <div class="span8 offset2">
        <button class="btn btn-success" type="button" onclick="DisableButton(this);$('#registering_modal').modal('show');">Sign Up</button>
      </div>
      </div>
	</form>
	
	</div>
    
{% endblock %}
