{% extends "base.html" %}
{% load i18n %}

{% block head %}

{% load compress %}
{% compress css %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/dashboard.css" %}" media="screen" type="text/css">

{% endcompress %}

{% endblock %}

{% block content %}
   
   <div class='content'>

	   	<section>
	      <div class='heading'>Reset Password</div>
	    </section>

	    <div class="alert alert-success">
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	      Password reset successfully. <a href="{% url seller_auth_login %}">{% trans "Log in" %}</a>
	    </div>

  	</div>


{% endblock %}