{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block head %}


{% load compress %}
{% compress css %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/dashboard.css" %}" media="screen" type="text/css">

{% endcompress %}

{% load compress %}
{% compress js %}

<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_email").attr('placeholder', '{{form.email.label}}');
    });
</script>

{% endcompress %}

{% endblock %}

{% block content %}
   
   <div class='content'>

   	<section>
      <div class='heading'>Reset Password</div>
    </section>

	<form method="post" action=".">
	  {% csrf_token %} 

      {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
	        <div class="alert alert-error" style="width:292px">
	            <button type="button" class="close" data-dismiss="alert">×</button>
	            {{ error  }}
	        </div>
            {% endfor %}
      {% endif %}

      {% for field in form %}
            <div class="fieldWrapper">
                {% for error in field.errors %}
                    <div class="alert alert-error" style="width:292px">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ error|escape }}
                    </div>
                {% endfor %}
                {{ field }}
            </div>
        {% endfor %}

  </div>    

    <div class='submit-block'>
    
    	<button class="yellow-button heavy-font submit-button" type="button" onclick="DisableButton(this);$('#password_reset_modal').modal('show');">Reset Password</button>
        </form>
              
	</div>    
	</form>

    <!-- Password Reset Email Modal -->
    <div id="password_reset_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
      <div class="modal-header">
        <h3 id="myModalLabel">Sending password reset email...</h3>
      </div>
      <div class="modal-body">
        <img src="{{STATIC_URL}}/img/ajax-loader.gif" />
      </div>
    </div>

{% endblock %}