{% extends "base.html" %}
{% load i18n %}

{% block head %}

{% load compress %}
{% compress css %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/dashboard.css" %}" media="screen" type="text/css">

{% endcompress %}

{% load compress %}
{% compress js %}

<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_new_password1").attr('placeholder', '{{form.new_password1.label}}');
        $("#id_new_password2").attr('placeholder', '{{form.new_password2.label}}');
    });
</script>

{% endcompress %}

{% endblock %}

{% block content %}
   
   <div class='content'>

   	<section>
      <div class='heading'>Reset Password</div>
    </section>

      	{% if validlink %}

      	<form method="post" action=".">
      	  {% csrf_token %} 

            {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
      	        <div class="alert alert-error" style="width:292px">
      	            <button type="button" class="close" data-dismiss="alert">×</button>
      	            {{ error  }}
      	        </div>
                  {% endfor %}
            {% endif %}

            {% for field in form %}
                  <div class="fieldWrapper">
                      {% for error in field.errors %}
                          <div class="alert alert-error" style="width:292px">
                              <button type="button" class="close" data-dismiss="alert">×</button>
                          {{ error|escape }}
                          </div>
                      {% endfor %}
                      {{ field }}
                  </div>
              {% endfor %}

        </div>    

          <div class='submit-block'>
          
          	<button class="yellow-button heavy-font submit-button" type="button" onclick="DisableButton(this);$('#loading_modal').modal('show');">Reset Password</button>
              </form>
                    
      	</div>    

      	</form>


      {% else %}

          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Password reset failed.
          </div>

      {% endif %}

  </div>

{% endblock %}

